/* src/App.css */

.app {
  text-align: center;
  padding: 20px;
}

.personen-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 16px;       
  justify-content: center;
}

.persoon-card {
  border: 2px solid #001fa7;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.naam-persoon {
  background-color: #001fa7;
  color: #fff;
  padding: 8px;
  border-radius: 8px 8px 0 0;
}

.persoon-klassen {
  margin-top: 8px;
}

.klas-tag {
  padding: 4px 8px;
  background-color: #a4c1ff;
  margin-right: 4px;
  border-radius: 4px;
  border: 2px solid #001fa7;
}



